#image-bungalowView {
  object-fit: contain;
  max-height: 800px;
  max-width: 800px;
}
#information span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card {
  max-width: 300px !important;
  border-radius: 200px 200px 10px 10px;
}
.card-image {
  object-fit: cover;
  max-width: 300px;
  height: 250px;
  aspect-ratio: 3/2;
  border-radius: 200px 200px 10px 10px;
}
.card-reservation {
  object-fit: cover;
  max-width: 300px;
  height: 250px;
  aspect-ratio: 3/2;
  border-radius: 120px 120px 5px 120px;
}
.prices-buttons Button {
  padding: 20px;
}
#reservation-info-cards span {
  color: rgb(249, 115, 22);
}

@media screen and (max-width: 1000px) {
  #main-home-page {
    padding-top: 0;
    margin-top: 0;
  }
  #first-meet-part {
    background: url("../images/homePAge/hotel-bg-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: content-box;
    position: relative;
    margin: 0;
    padding: 0;
  }
  #first-meet-part::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  #first-meet-part * {
    z-index: 2;
  }
  #description article * {
    color: #eee;
  }
  #description article h1 span {
    color: rgb(249, 115, 22);
  }
  #first-meet-part #photo {
    display: none;
  }
  #hotel-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  #information {
    gap: 1rem;
  }
}
@media screen and (max-width: 950px) {
  #information {
    flex-direction: column;
    background-color: transparent;
    overflow: hidden;
    width: 100%;
  }
  #information span {
    background-color: #eee;
    border-radius: 1rem;
    padding: 5px;
    box-shadow: rgb(204, 219, 232) 9px 9px 12px 0px inset,
      rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  }
  #hotel-cards {
    grid-template-columns: repeat(1, 1fr);
    place-items: center;
  }
  #secondary-part {
    width: 100%;
  }
  #recommend {
    width: -webkit-fill-available;
    font-size: 27px;
    text-align: center;
  }

  /* modal reservation */
  #modal-reservation-create {
    flex-direction: column;
  }
  #modal-reservation-create article,
  #reservation-card-image,
  #price-button {
    display: none;
  }
  #reservation-information {
    grid-template-columns: repeat(1, 1fr);
    text-align: start;
  }
  #reservation-info-cards {
    flex-direction: column;
    text-align: start;
    padding: 10px;
  }
}
@media screen and (max-width: 1300px) {
  #reservation-info-cards {
    flex-direction: column;
    text-align: start;
    padding: 10px;
  }
}
